#cssjsnav {
	background-color: transparent;
}

.csslinknav {
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px 15px;
	border-radius: 5px;
	transition: 150ms;
}

.csslinknav:hover {
	background-color: rgba(255, 255, 255, 1);
}

header {
	margin-top: -50px;
}

#titlecourses {
	background-color: #b6b6b64f;
	top: unset;
	left: 20px;
	bottom: 20px;
	text-align: left;
	height: 60px;
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

#logo {
	color: black;
}

main {
	height: 170vw;
}

section {
	margin-top: -60px;
}