:root {
	--secondary-color: rgb(101, 142, 197);
	--primary-color: #111111;
	--primary-fontsize: 15px;
	--primary-borderradius: 5px;
	--primary-width: 100%;
	--primary-padding: 20px;
	--primary-transition: 200ms;
	--primary-position: 50%;
	--secondary-font: 'lemon';
	--commonvalue100: 100%;
	--commonvalue50: 50px;
	--commonvalue30: 30px;
	--commonvalue20: 20px;
	--commonvalue10: 10px;
	--commonvalue5: 5px;
}

header, #title, #enrollnow, #mainvideo, .seemore, #maincontent, #courseblock1, #courseblock2, #courseblock3, #courseblock4, ul, #logo, #aboutblock, #firsthalf, #secondhalf, .contacth2, form, input[type="submit"], footer, #aboutcoursesblock {
	position: absolute;
}

html, nav, #title:hover, #maincontent, .seemore {
	background-color: var(--primary-color);
}

html {
	font-family: 'WF Regola Neue', sans-serif;
	scroll-behavior: smooth;
}

nav, header, #mainvideo, #maincontent, .courses {
	width: var(--primary-width);
}

nav, header, #enrollnow, #firsthalf {
	left: 0;
}

a, .courseclass, .titleforsection, #logo, .contacth2, footer, input[type="submit"], .links {
	color: white;
}

a, #enrollnow, input[type="submit"], #darkmode {
	cursor: pointer;
}

#maincontent, #courses, .titleforsection, form {
	text-align: center;
}

a, #desc, ul, .titlesectionp, input[type="text"], textarea, input[type="submit"] {
	font-size: var(--primary-fontsize);
}

#title, .titleforsection, #aboutblock, form {
	padding: var(--primary-padding);
}

#title, #enrollnow, .seemore, .courseclass, img, form {
	border-radius: var(--primary-borderradius);
}

#title, #mainvideo, .seemore, form, input[type="submit"] {
	transition: var(--primary-transition);
}

#aboutblock, form, input[type="submit"], footer, #aboutcoursesblock {
	left: var(--primary-position);
	transform: translate(-50%);
}

#courseblock1, #courseblock2, #courseblock3, #courseblock4 {
	height: 100px;
	width: 250px;
}

#firsthalf, #secondhalf {
	height: 600px;
	width: var(--primary-position);
}

#aboutblock, #logo, #aboutcoursesblock {
	font-family: var(--secondary-font);
}

.links, ul, .descblock {
	text-align: left;
}

#maintitle, .titleforsection {
	font-weight: 600;
}

#aboutcoursesblock::-webkit-scrollbar-track, #aboutcoursesblock::-webkit-scrollbar, #aboutcoursesblock::-webkit-scrollbar-corner, #aboutblock::-webkit-scrollbar-track, #aboutblock::-webkit-scrollbar, #aboutblock::-webkit-scrollbar-corner {
	background-color: transparent;
	width: var(--commonvalue5);
}

#aboutcoursesblock::-webkit-scrollbar-thumb, #aboutblock::-webkit-scrollbar-thumb {
	background-color: rgb(188, 188, 188);
}

#aboutcoursesblock, #aboutblock {
	width: 85%;
	height: 300px;
	border-radius: var(--commonvalue10);
	background-color: #33333300;
	color: rgb(211, 211, 211);
	overflow: scroll;
	max-width: 1000px;
}

#aboutcoursesblock {
	margin-top: var(--commonvalue20);
	color: rgb(231, 231, 231);
}

nav {
	height: 70px;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#getipbutton {
	position: absolute;
	background-color: white;
	color: black;
	padding: var(--commonvalue10);
	border: none;
	border-radius: 3px;
	right: var(--commonvalue10);
	top: var(--commonvalue30);
	cursor: pointer;
}

/* hr {
	width: 1px;
	background-color: white;
	border: none;
	height: 3px;
	position: fixed;
	z-index: 2;
	top: 75px;
	left: -10px;
} */

a {
	text-decoration: none;
	margin-left: var(--commonvalue20);
	margin-right: var(--commonvalue20);
	font-weight: 550;
}

header {
	height: 500px;
	background-color: #161616;
	right: 0;
	top: var(--commonvalue50);
	color: rgb(206, 206, 206);
}

img {
	height: 100px;
	width: 230px;
	object-fit: cover;
	margin-top: var(--commonvalue10);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.645);
}

h3 {
	font-size: var(--commonvalue20);
}

ul {
	margin-left: -20px;
}

form {
	width: 60%;
	margin-left: 0px;
	margin-top: 150px;
	padding-right: var(--commonvalue50);
	padding-bottom: 40px;
	z-index: 2;
	outline: none;
}

hr {
	width: 105%;
	margin-top: -5px;
	opacity: 0.5;
	margin-left: var(--commonvalue10);
}

input[type="text"], textarea {
	outline: none;
	width: 110%;
	background-color: transparent;
	padding: 12px;
	margin-bottom: var(--commonvalue5);
	margin-top: var(--commonvalue5);
	border: none;
	box-sizing: border-box;
	max-width: 500px;
	color: white;
	font-family: system-ui;
}

textarea {
	resize: none;
	height: 150px;
}

input[type="submit"] {
	background-color: var(--secondary-color);
	padding: 5px 50px;
	border: none;
	border-radius: 35px;
	margin-top: var(--commonvalue50);
}

footer {
	font-size: 12px;
	bottom: 0;
	z-index: 1;
	position: absolute;
	left: 0px;
}

#maintitle {
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 0;
}

#desc {
	font-style: italic;
	opacity: 0.6;
	overflow: hidden;
	/* white-space: nowrap;
	animation: typing 1.2s steps(100, end); */
}

#title {
	bottom: var(--commonvalue50);
	left: var(--commonvalue50);
	background-color: #111111bc;
	padding-bottom: var(--commonvalue50);
	width: 50%;
	max-width: 460px;
}

#title:hover {
	transform: scale(1.03);
}

#enrollnow {
	padding: 7px 15px;
	background-color:  var(--secondary-color);
	border: none;
	color: black;
	font-weight: normal;
	font-size: 13px;
}

#mainvideo {
	z-index: 0;
	height: var(--commonvalue100);
	object-fit: cover;
	filter: blur(5px);
	top: 15px;
}

#maincontent {
	width: var(--commonvalue100);
	height: var(--commonvalue100);
	top: 550px;
	left: 0;
	z-index: 1;
}

#courses {
	display: inline-block;
	margin-bottom: 100px;
}

#logo {
	left: var(--commonvalue20);
	font-size: 18px;
}

#contactbusiness {
	height: 600px;
	margin-top: 0;
}

#aboutbusiness {
	background-color: rgb(54, 81, 114);
	height: 600px;
}

#firsthalf {
	background-color: #272A34;
}
#secondhalf {
	background-color: #888888;
	right: 0;
}

#darkmode {
	box-shadow: none;
	height: var(--commonvalue30);
	width: var(--commonvalue30);
	margin-bottom: var(--commonvalue10);
}

#linksblock {
	position: absolute;
	left: var(--primary-position);;
	transform: translate(-50%);
	top: 170px;
}

#aboutcourses {
	width: var(--commonvalue100);
	height: 600px;
	background-color: rgb(119, 153, 122);
}

.seemore {
	margin-top: 130px;
	margin-left: -55px;
	padding: 5px;
	width: 100px;
	color: white;
}
.seemore:hover {
	background-color: var(--secondary-color);
	color: black;
}

.courseclass {
	margin-left: var(--commonvalue10);
	margin-top: 15px;
	width: 250px;
	padding-bottom: var(--commonvalue10);
	height: 440px;
	background-color: #333333;
	display: inline-block;
}

.descblock {
	width: 90%;
	margin: 0 auto;
}

.descclass {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
	margin-top: -10px;
}

.titleforsection {
	font-size: var(--commonvalue30);
}
.titlesectionp {
	opacity: 0.5;
	font-size: 15px;
	margin-top: -25px;
}

.contacth2 {
	font-size: var(--commonvalue30);
	margin-left: 20%;
	margin-top: 100px;
}

.contactp {
	color: rgba(0, 0, 0, 0.5);
	margin-top: var(--commonvalue50);
	margin-bottom: var(--commonvalue50);
	margin-left: var(--commonvalue20);
}

.contactimages {
	box-shadow: none;
	height: 40px;
	width: 40px;
	margin-left: var(--commonvalue5);
	display: flex;
	margin-top: 0;
}

.links {
	display: flex;
	align-items: center;
	background-color: white;
	margin-top: var(--commonvalue10);
	border-radius: var(--commonvalue5);
	height: var(--commonvalue50);
}

.structure {
	margin-top: 170px;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0%
	}
	to {
		width: 100% 
	}
}