html {
	background-color: #111111;
	font-family: 'WF Regola Neue', sans-serif;
	scroll-behavior: smooth;
}

nav {
	background-color: #111111;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

a {
	color: rgb(206, 206, 206);
	text-decoration: none;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 550;
	cursor: pointer;
}

a:hover {
	color: white;
}

header {
	height: 500px;
	width: 100%;
	background-color: #161616;
	right: 0;
	left: 0;
	top: 50px;
	position: absolute;
	border-bottom: 1px solid rgba(255, 255, 255, 0.479);
	color: rgb(206, 206, 206);
}

#maintitle {
	font-size: 35px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

#desc {
	font-style: italic;
	font-size: 15px;
	opacity: 0.6;
}

#title {
	position: absolute;
	bottom: 50px;
	left: 50px;
	background-color: #111111bc;
	padding: 20px;
	padding-bottom: 50px;
	border-radius: 5px;
	transition: 200ms;
	width: 50%;
	max-width: 460px;
}
#title:hover {
	background-color: #111111;
}

#enrollnow {
	position: absolute;
	padding: 7px 15px;
	background-color: rgb(101, 142, 197);
	border-radius: 5px;
	cursor: pointer;
	border: none;
	color: black;
	font-weight: normal;
	left: 0;
	font-size: 13px;
}

#mainvideo {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: blur(5px);
	top: 15px;
	transition: 200ms;
}

#navimg {
	position: absolute;
	left: 120px;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	margin-top: 0px;
}

#navimg:hover {
	height: 1000px;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 400px;
}

#maincontent {
	background-color: #111111;
	width: 100%;
	height: 100%;
	top: 550px;
	left: 0;
	position: absolute;
	z-index: 1;
}

#courses {
	width: 100%;
	display: inline-block;
	text-align: center;
	/* margin-top: 10px; */
	margin-bottom: 50px;
}

.seemore {
	position: absolute;
	margin-top: 130px;
	margin-left: -105px;
	background-color: #111111;
	padding: 5px;
	width: 200px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	transition: 200ms;
}
.seemore:hover {
	
}

.courseclass {
	margin-left: 10px;
	margin-top: 15px;
	width: 250px;
	padding-bottom: 10px;
	height: 400px;
	background-color: #333333;
	display: inline-block;
	border-radius: 5px;
	/* border: 2px solid white; */
	/* color: rgba(255, 255, 255, 0.618); */
	color: white;
}

#courseblock1, #courseblock2, #courseblock3, #courseblock4 {
	position: absolute;
	height: 100px;
	width: 250px;
}

img {
	/* position: absolute; */
	height: 100px;
	width: 230px;
	object-fit: cover;
	margin-top: 10px;
	border-radius: 5px;
}

.descblock {
	text-align: left;
	width: 90%;
	margin: 0 auto;
}

h3 {
	font-size: 20px;
}

.descclass {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.56);
	margin-top: -10px;
}

ul {
	position: absolute;
	text-align: left;
	font-size: 15px;
	margin-left: -20px;
}

.titleforsection {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	/* margin-bottom: 50px; */
	color: white;
	padding: 20px;
}
.titlesectionp {
	opacity: 0.5;
	font-size: 15px;
	margin-top: -25px;
}

#logo {
	position: absolute;
	color: white;
	left: 20px;
	font-size: 18px;
	font-family: 'lemon';
}

#aboutblock {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;
	height: 300px;
	padding: 20px;
	border-radius: 10px;
	background-color: #333333;
	color: rgb(255, 255, 255);
	overflow: scroll;
}

#aboutblock::-webkit-scrollbar-track, #aboutblock::-webkit-scrollbar {
	display: none;
}

#contactbusiness {
	margin-top: 400px;
	/* background: linear-gradient(to bottom, #2872bc00, rgb(233, 152, 112)); */
	height: 600px;
}

form {
	width: 300px;
	/* margin: 0 auto; */
	text-align: center;
	padding: 20px;
	margin-left: 0px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	padding-right: 50px;
	padding-bottom: 40px;
	border-radius: 5px;
}

input[type="text"], textarea {
	width: 110%;
	background-color: #333333;
	padding: 12px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	max-width: 500px;
	color: black;
	/* margin-left: 5px; */
	font-family: system-ui;
}

textarea {
	resize: none;
	height: 150px;
}

input[type="submit"] {
	background-color: #333333;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 5px 50px;
	border: none;
	border-radius: 35px;
	font-size: 15px;
	cursor: pointer;
	transition: 300ms;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

footer {
	color: white;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-size: 12px;
	bottom: 0;
	z-index: 3;
}

@media screen and (max-width: 400px) {
	a {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 435px) {
	#courses {
		width: 425px;
		margin-left: -2px;
		transform: scale(0.9);
		margin-top: -60px;
	}
}

@media screen and (max-width: 525px) {
	#title {
		background-color: #111111e5;
	}

	.titlesectionp {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 600px) {
	.courseclass {
		transform: scale(0.8);
		/* margin-bottom: 80px; */
		margin-top: -45px;
		padding-bottom: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}

	#title {
		transform: scale(0.7);
		bottom: 5px;
		left: 5px;
	}

	a {
		font-size: 12px;
	}

	#titleforsection {
		transform: scale(0.8);
		padding: 0;
	}
}

@media screen and (max-width: 650px) {
	nav {
		justify-content: right;
	}
	a {
		margin-left: 0px;
		margin-right: 15px;
	}
	
	#enrollnow {
		margin-left: 20px;
	}
}